$background-default: #3F444A;
$font-default: #f2f2f2;
$font-header: #fff;

body {
  /*font-family: droid sans;*/
  background: $background-default;
  color: $font-default;
  letter-spacing: 0.15em;
}

.alcarin {

}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
